In [2]:
# Import necessary libraries
import pandas as pd
import sqlite3

# Upload the dataset to Colab
from google.colab import files
uploaded = files.upload()

# Read the dataset into a pandas DataFrame
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Create a SQLite database and write the DataFrame to it
conn = sqlite3.connect('hotel_reservations.db')
df.to_sql('reservations', conn, if_exists='replace', index=False)

# Create a cursor object to execute SQL queries
cur = conn.cursor()

Saving Hotel Reservation Dataset.csv to Hotel Reservation Dataset.csv

1. What is the total number of reservations in the dataset?

In [15]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Create a SQLite database in memory
con = sqlite3.connect(':memory:')

# Write the DataFrame to the database
df.to_sql('hotel_reservations', con, if_exists='replace', index=False)

# Execute SQL queries on the database
cur = con.cursor()
cur.execute("SELECT SUM(no_of_adults) AS total_adults, SUM(no_of_children) AS total_children FROM hotel_reservations;")
rows = cur.fetchall()

# Print the results
for row in rows:
  print(row)

# Close the connection to the database
con.close()

(1316, 69)

Hence, total 1316 + 69 = 1385 hotel reservations

**1 To count the confirmed and cancelled reservations of adults and children :

In [16]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Create a SQLite database in memory
con = sqlite3.connect(':memory:')

# Write the DataFrame to the database
df.to_sql('hotel_reservations', con, if_exists='replace', index=False)

# Execute SQL queries on the database
cur = con.cursor()
cur.execute("SELECT booking_status, SUM(no_of_adults) AS total_adults, SUM(no_of_children) AS total_children FROM hotel_reservations GROUP BY booking_status;")
rows = cur.fetchall()

# Print the results
for row in rows:
  print(row)

# Close the connection to the database
con.close()

('Canceled', 402, 31)
('Not_Canceled', 914, 38)

Hence, total cancelled reservations = 402 + 31 = 433 and total confirmed reservations = 914 + 38 = 952

2. Which meal plan is the most popular among guests?

In [ ]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Create a SQLite database in memory
con = sqlite3.connect(':memory:')

# Write the DataFrame to the database
df.to_sql('hotel_reservations', con, if_exists='replace', index=False)

# Execute SQL queries on the database
cur = con.cursor()
cur.execute("SELECT type_of_meal_plan, COUNT(Booking_ID) AS reservation_count FROM hotel_reservations GROUP BY type_of_meal_plan ORDER BY reservation_count DESC LIMIT 1;")
rows = cur.fetchall()

# Print the results
for row in rows:
  print(row)

# Close the connection to the database
con.close()

('Meal Plan 1', 527)

3. What is the average price per room for reservations involving children?

In [ ]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Create a SQLite database in memory
con = sqlite3.connect(':memory:')

# Write the DataFrame to the database
df.to_sql('hotel_reservations', con, if_exists='replace', index=False)

# Execute SQL queries on the database
cur = con.cursor()
cur.execute("SELECT round(AVG(avg_price_per_room)) AS avg_price FROM hotel_reservations WHERE no_of_children > 0;")
rows = cur.fetchall()

# Print the results
for row in rows:
  print(row)

# Close the connection to the database
con.close()

(145.0,)

4. How many reservations were made for the year 2018 ?

In [ ]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Create a SQLite database in memory
con = sqlite3.connect(':memory:')

# Write the DataFrame to the database
df.to_sql('hotel_reservations', con, if_exists='replace', index=False)

# Execute SQL queries on the database
cur = con.cursor()
cur.execute("SELECT COUNT(Booking_ID) AS Total_Reservation_2018 FROM hotel_reservations WHERE arrival_date like '%2018%';")
rows = cur.fetchall()

# Print the results
for row in rows:
  print(row)

# Close the connection to the database
con.close()

(577,)

5. What is the most commonly booked room type?

In [ ]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Create a SQLite database in memory
con = sqlite3.connect(':memory:')

# Write the DataFrame to the database
df.to_sql('hotel_reservations', con, if_exists='replace', index=False)

# Execute SQL queries on the database
cur = con.cursor()
cur.execute("SELECT room_type_reserved, COUNT(Booking_ID) AS reservation_count FROM hotel_reservations GROUP BY room_type_reserved ORDER BY reservation_count DESC LIMIT 1;")
rows = cur.fetchall()

# Print the results
for row in rows:
  print(row)

# Close the connection to the database
con.close()

('Room_Type 1', 534)

6. How many reservations fall on a weekend ?

In [ ]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Create a SQLite database in memory
con = sqlite3.connect(':memory:')

# Write the DataFrame to the database
df.to_sql('hotel_reservations', con, if_exists='replace', index=False)

# Execute SQL queries on the database
cur = con.cursor()
cur.execute("SELECT COUNT(no_of_weekend_nights) AS weekend_reservations FROM hotel_reservations WHERE no_of_weekend_nights > 0;")
rows = cur.fetchall()

# Print the results
for row in rows:
  print(row)

# Close the connection to the database
con.close()

(383,)

7. What is the highest and lowest lead time for reservations?

In [ ]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Create a SQLite database in memory
con = sqlite3.connect(':memory:')

# Write the DataFrame to the database
df.to_sql('hotel_reservations', con, if_exists='replace', index=False)

# Execute SQL queries on the database
cur = con.cursor()
cur.execute("SELECT MAX(lead_time) AS max_lead_time, MIN(lead_time) AS min_lead_time FROM hotel_reservations;")
rows = cur.fetchall()

# Print the results
for row in rows:
  print(row)

# Close the connection to the database
con.close()

(443, 0)

8. What is the most common market segment type for reservations?

In [ ]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Create a SQLite database in memory
con = sqlite3.connect(':memory:')

# Write the DataFrame to the database
df.to_sql('hotel_reservations', con, if_exists='replace', index=False)

# Execute SQL queries on the database
cur = con.cursor()
cur.execute("SELECT market_segment_type, COUNT(Booking_ID) AS reservation_count FROM hotel_reservations GROUP BY market_segment_type ORDER BY reservation_count DESC LIMIT 1;")
rows = cur.fetchall()

# Print the results
for row in rows:
  print(row)

# Close the connection to the database
con.close()

('Online', 518)

9. How many reservations have a booking status of "Confirmed"?

In [ ]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Create a SQLite database in memory
con = sqlite3.connect(':memory:')

# Write the DataFrame to the database
df.to_sql('hotel_reservations', con, if_exists='replace', index=False)

# Execute SQL queries on the database
cur = con.cursor()
cur.execute("SELECT COUNT(Booking_ID) AS confirmed_reservations FROM hotel_reservations WHERE booking_status = 'Not_Canceled';")
rows = cur.fetchall()

# Print the results
for row in rows:
  print(row)

# Close the connection to the database
con.close()

(493,)

10. What is the total number of adults and children across all reservations?

In [ ]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Create a SQLite database in memory
con = sqlite3.connect(':memory:')

# Write the DataFrame to the database
df.to_sql('hotel_reservations', con, if_exists='replace', index=False)

# Execute SQL queries on the database
cur = con.cursor()
cur.execute("SELECT SUM(no_of_adults) AS total_adults, SUM(no_of_children) AS total_children FROM hotel_reservations;")
rows = cur.fetchall()

# Print the results
for row in rows:
  print(row)

# Close the connection to the database
con.close()

(1316, 69)

11. What is the average number of weekend nights for reservations involving children?

In [ ]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Create a SQLite database in memory
con = sqlite3.connect(':memory:')

# Write the DataFrame to the database
df.to_sql('hotel_reservations', con, if_exists='replace', index=False)

# Execute SQL queries on the database
cur = con.cursor()
cur.execute("SELECT AVG(no_of_weekend_nights) AS avg_weekend_nights FROM hotel_reservations WHERE no_of_children > 0;")
rows = cur.fetchall()

# Print the results
for row in rows:
  print(row)

# Close the connection to the database
con.close()

(1.0,)

12. How many reservations were made in each month of the year?

In [ ]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Create a SQLite database in memory
con = sqlite3.connect(':memory:')

# Write the DataFrame to the database
df.to_sql('hotel_reservations', con, if_exists='replace', index=False)

# Execute SQL queries on the database
cur = con.cursor()
cur.execute("SELECT arrival_date as month,COUNT(Booking_ID) as reservation_per_month FROM hotel_reservations group by arrival_date")
rows = cur.fetchall()

# Print the results
for row in rows:
  print(row)

# Close the connection to the database
con.close()

('01-03-2018', 1)
('01-04-2018', 5)
('01-05-2018', 2)
('01-06-2018', 1)
('01-07-2017', 2)
('01-07-2018', 2)
('01-08-2018', 3)
('01-09-2018', 1)
('01-10-2017', 1)
('01-10-2018', 2)
('01-11-2018', 4)
('02-01-2018', 3)
('02-04-2018', 1)
('02-05-2018', 3)
('02-07-2018', 1)
('02-09-2017', 1)
('02-09-2018', 2)
('02-10-2017', 4)
('02-10-2018', 2)
('02-11-2017', 2)
('02-11-2018', 1)
('02-12-2018', 4)
('03-02-2018', 1)
('03-03-2018', 1)
('03-04-2018', 2)
('03-05-2018', 1)
('03-06-2018', 3)
('03-08-2018', 4)
('03-09-2017', 1)
('03-09-2018', 3)
('03-10-2018', 1)
('03-11-2018', 3)
('03-12-2018', 2)
('04-02-2018', 1)
('04-03-2018', 2)
('04-04-2018', 4)
('04-05-2018', 2)
('04-07-2018', 1)
('04-08-2018', 2)
('04-09-2017', 1)
('04-09-2018', 1)
('04-10-2017', 1)
('04-10-2018', 1)
('04-11-2018', 2)
('05-02-2018', 1)
('05-03-2018', 2)
('05-04-2018', 2)
('05-05-2018', 3)
('05-06-2018', 2)
('05-07-2018', 1)
('05-09-2017', 2)
('05-09-2018', 2)
('05-10-2017', 1)
('05-10-2018', 1)
('05-11-2018', 2)
('05-12-2017', 1)
('05-12-2018', 4)
('06-01-2018', 1)
('06-02-2018', 1)
('06-04-2018', 8)
('06-06-2018', 3)
('06-07-2018', 3)
('06-08-2018', 2)
('06-09-2017', 1)
('06-09-2018', 2)
('06-10-2017', 1)
('06-10-2018', 2)
('06-11-2017', 1)
('06-11-2018', 3)
('07-03-2018', 1)
('07-04-2018', 2)
('07-05-2018', 1)
('07-06-2018', 2)
('07-09-2017', 1)
('07-09-2018', 5)
('07-10-2017', 1)
('07-10-2018', 3)
('07-12-2017', 1)
('07-12-2018', 1)
('08-01-2018', 1)
('08-02-2018', 2)
('08-03-2018', 1)
('08-04-2018', 5)
('08-06-2018', 5)
('08-07-2018', 2)
('08-08-2017', 2)
('08-08-2018', 2)
('08-09-2017', 2)
('08-09-2018', 1)
('08-10-2017', 1)
('08-12-2018', 4)
('09-01-2018', 1)
('09-03-2018', 2)
('09-04-2018', 3)
('09-05-2018', 2)
('09-07-2018', 3)
('09-08-2018', 1)
('09-09-2017', 3)
('09-09-2018', 2)
('09-10-2017', 2)
('09-11-2017', 2)
('09-12-2017', 1)
('09-12-2018', 1)
('10-03-2018', 3)
('10-04-2018', 3)
('10-06-2018', 3)
('10-07-2018', 3)
('10-08-2017', 2)
('10-08-2018', 1)
('10-09-2017', 2)
('10-10-2017', 1)
('10-10-2018', 1)
('10-11-2018', 1)
('10-12-2018', 2)
('11-02-2018', 3)
('11-03-2018', 1)
('11-04-2018', 2)
('11-05-2018', 1)
('11-06-2018', 3)
('11-07-2018', 1)
('11-08-2017', 1)
('11-09-2017', 1)
('11-09-2018', 2)
('11-10-2018', 4)
('11-11-2017', 1)
('11-11-2018', 1)
('12-05-2018', 3)
('12-06-2018', 3)
('12-07-2018', 1)
('12-08-2017', 1)
('12-08-2018', 1)
('12-11-2018', 2)
('13-03-2018', 1)
('13-04-2018', 1)
('13-05-2018', 9)
('13-06-2018', 2)
('13-07-2018', 1)
('13-08-2018', 7)
('13-09-2017', 2)
('13-09-2018', 3)
('13-10-2017', 1)
('13-10-2018', 7)
('13-11-2018', 2)
('13-12-2018', 1)
('14-03-2018', 1)
('14-04-2018', 2)
('14-05-2018', 2)
('14-06-2018', 3)
('14-07-2018', 1)
('14-08-2017', 3)
('14-09-2017', 1)
('14-09-2018', 2)
('14-10-2017', 2)
('14-10-2018', 3)
('14-11-2017', 1)
('14-11-2018', 2)
('14-12-2018', 1)
('15-03-2018', 1)
('15-04-2018', 4)
('15-06-2018', 10)
('15-08-2018', 3)
('15-09-2017', 1)
('15-09-2018', 1)
('15-10-2017', 2)
('15-10-2018', 2)
('15-11-2017', 1)
('15-12-2017', 1)
('16-01-2018', 1)
('16-02-2018', 2)
('16-03-2018', 3)
('16-05-2018', 2)
('16-06-2018', 2)
('16-07-2017', 1)
('16-09-2017', 1)
('16-09-2018', 4)
('16-10-2017', 4)
('16-10-2018', 2)
('16-11-2018', 3)
('16-12-2018', 2)
('17-02-2018', 1)
('17-03-2018', 1)
('17-04-2018', 2)
('17-06-2018', 6)
('17-07-2017', 3)
('17-07-2018', 1)
('17-08-2018', 2)
('17-09-2017', 2)
('17-10-2017', 2)
('17-10-2018', 4)
('17-11-2018', 2)
('17-12-2017', 1)
('18-03-2018', 3)
('18-06-2018', 4)
('18-07-2018', 1)
('18-08-2017', 1)
('18-08-2018', 4)
('18-09-2017', 3)
('18-09-2018', 2)
('18-10-2017', 2)
('18-10-2018', 4)
('18-11-2017', 1)
('18-11-2018', 3)
('18-12-2018', 1)
('19-02-2018', 1)
('19-03-2018', 1)
('19-05-2018', 3)
('19-06-2018', 4)
('19-08-2018', 2)
('19-09-2017', 2)
('19-09-2018', 2)
('19-10-2017', 1)
('19-10-2018', 2)
('19-11-2017', 1)
('19-11-2018', 4)
('20-01-2018', 1)
('20-02-2018', 1)
('20-03-2018', 5)
('20-04-2018', 2)
('20-05-2018', 2)
('20-06-2018', 1)
('20-09-2018', 1)
('20-10-2017', 3)
('20-10-2018', 2)
('20-11-2017', 2)
('20-11-2018', 1)
('21-03-2018', 1)
('21-04-2018', 1)
('21-05-2018', 3)
('21-06-2018', 3)
('21-07-2018', 1)
('21-08-2018', 2)
('21-09-2017', 2)
('21-10-2017', 1)
('21-10-2018', 2)
('21-12-2018', 1)
('22-02-2018', 2)
('22-03-2018', 1)
('22-04-2018', 2)
('22-05-2018', 3)
('22-08-2017', 1)
('22-08-2018', 5)
('22-09-2017', 2)
('22-09-2018', 1)
('22-10-2017', 1)
('22-10-2018', 1)
('22-12-2018', 1)
('23-03-2018', 4)
('23-04-2018', 2)
('23-06-2018', 1)
('23-07-2018', 4)
('23-08-2017', 1)
('23-10-2017', 3)
('23-10-2018', 6)
('23-11-2017', 1)
('23-11-2018', 1)
('24-02-2018', 1)
('24-03-2018', 4)
('24-04-2018', 3)
('24-05-2018', 1)
('24-06-2018', 7)
('24-08-2018', 3)
('24-10-2017', 1)
('24-10-2018', 1)
('24-12-2017', 1)
('25-02-2018', 1)
('25-03-2018', 4)
('25-04-2018', 1)
('25-06-2018', 1)
('25-07-2017', 1)
('25-07-2018', 3)
('25-08-2017', 1)
('25-08-2018', 4)
('25-09-2017', 3)
('25-10-2017', 1)
('25-11-2018', 1)
('25-12-2018', 2)
('26-02-2018', 1)
('26-04-2018', 1)
('26-06-2018', 4)
('26-07-2018', 1)
('26-08-2017', 1)
('26-09-2018', 2)
('26-10-2018', 1)
('26-11-2018', 2)
('26-12-2017', 1)
('26-12-2018', 5)
('27-02-2018', 2)
('27-04-2018', 1)
('27-05-2018', 2)
('27-06-2018', 4)
('27-07-2017', 1)
('27-07-2018', 1)
('27-09-2018', 3)
('27-10-2018', 1)
('27-12-2017', 2)
('28-01-2018', 2)
('28-02-2018', 7)
('28-03-2018', 1)
('28-04-2018', 2)
('28-06-2018', 3)
('28-07-2018', 2)
('28-08-2018', 4)
('28-09-2018', 1)
('28-10-2018', 4)
('28-12-2018', 2)
('29-01-2018', 1)
('29-03-2018', 3)
('29-04-2018', 3)
('29-05-2018', 4)
('29-06-2018', 1)
('29-08-2018', 1)
('29-09-2018', 1)
('29-11-2018', 1)
('29-12-2017', 3)
('29-12-2018', 3)
('30-03-2018', 3)
('30-04-2018', 3)
('30-05-2018', 3)
('30-06-2018', 3)
('30-07-2018', 2)
('30-08-2018', 2)
('30-09-2017', 1)
('30-09-2018', 1)
('30-10-2017', 2)
('30-10-2018', 2)
('30-12-2017', 1)
('30-12-2018', 1)
('31-03-2018', 1)
('31-05-2018', 3)
('31-08-2018', 1)
('31-10-2017', 1)
('31-10-2018', 2)
('31-12-2018', 1)

13. What is the average number of nights (both weekend and weekday) spent by guests for each room type?

In [ ]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Create a SQLite database in memory
con = sqlite3.connect(':memory:')

# Write the DataFrame to the database
df.to_sql('hotel_reservations', con, if_exists='replace', index=False)

# Execute SQL queries on the database
cur = con.cursor()
cur.execute("SELECT room_type_reserved, round(AVG(no_of_weekend_nights + no_of_week_nights)) AS avg_total_nights FROM hotel_reservations GROUP BY room_type_reserved;")
rows = cur.fetchall()

# Print the results
for row in rows:
  print(row)

# Close the connection to the database
con.close()

('Room_Type 1', 3.0)
('Room_Type 2', 3.0)
('Room_Type 4', 4.0)
('Room_Type 5', 3.0)
('Room_Type 6', 4.0)
('Room_Type 7', 3.0)

14. For reservations involving children, what is the most common room type, and what is the average price for that room type?

In [ ]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Create a SQLite database in memory
con = sqlite3.connect(':memory:')

# Write the DataFrame to the database
df.to_sql('hotel_reservations', con, if_exists='replace', index=False)

# Execute SQL queries on the database
cur = con.cursor()
cur.execute("WITH child_reservations AS (SELECT room_type_reserved, avg_price_per_room FROM hotel_reservations WHERE no_of_children > 0) SELECT room_type_reserved, round(AVG(avg_price_per_room)) AS avg_price FROM child_reservations GROUP BY room_type_reserved ORDER BY COUNT(*) DESC LIMIT 1;")
rows = cur.fetchall()

# Print the results
for row in rows:
  print(row)

# Close the connection to the database
con.close()

('Room_Type 1', 123.0)

15. Find the market segment type that generates the highest average price per room.

In [ ]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Create a SQLite database in memory
con = sqlite3.connect(':memory:')

# Write the DataFrame to the database
df.to_sql('hotel_reservations', con, if_exists='replace', index=False)

# Execute SQL queries on the database
cur = con.cursor()
cur.execute("SELECT market_segment_type, round(AVG(avg_price_per_room)) AS avg_price FROM hotel_reservations GROUP BY market_segment_type ORDER BY avg_price DESC LIMIT 1;")
rows = cur.fetchall()

# Print the results
for row in rows:
  print(row)

# Close the connection to the database
con.close()

('Online', 112.0)